html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Chiều cao tối thiểu cho toàn bộ trang */
}

.container-fluid {
  flex: 1; /* Giúp cho nội dung chiếm không gian còn lại */
}