body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.specialties-page .container {
  background-color: #f8f9fa;
  margin-bottom: 170px;
}

.specialties-list {
  padding: 30px 0;
}

.specialty-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-specialty {
  display: flex;
  justify-content: flex-start; /* Đảm bảo các cột căn về phía trái */
  flex-wrap: wrap;
}

.col-specialty {
  flex: 0 0 33%;  /* Mỗi cột chiếm 50% chiều rộng (6/12) */
  max-width: 50%; /* Đảm bảo mỗi cột chiếm 50% */
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-border {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 4px;
  background-color: white;
  overflow: hidden; 
  
}

.specialty-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  flex-grow: 1;
  overflow: hidden;
}

.card-body > * {
  margin-bottom: 10px;
}

.pagination {
  margin-bottom: 2rem;
}

.pagination .page-item.active .page-link {
  background-color: #6EC2F7;
  border-color: #6EC2F7;
}

.pagination .page-link {
  color: #6EC2F7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card-body {
    padding: 15px;
    margin-bottom: 30px;
  }
  
  .col-specialty {
    flex: 0 0 48%;  /* Cột chiếm 48% chiều rộng cho màn hình nhỏ */
    max-width: 48%;
  }
}

@media (max-width: 576px) {
  .col-specialty {
    flex: 0 0 100%;  /* Cột chiếm toàn bộ chiều rộng trên màn hình rất nhỏ */
    max-width: 100%;
  }
}

/* Alignment Fix for Last Item in Odd Row */
@media (min-width: 768px) {
  .row-specialty > .col-specialty:nth-child(3n+1):last-child {
    margin-left: 0; /* Không có margin-left thêm vào khi hàng cuối có ít phần tử */
  }
}
