/* Home.css */

/* General Styles */
.toggle-sidebar {
    display: none;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    background: #6EC2F7;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
}

.sidebar-wrapper {
    width: 250px;
    transition: all 0.3s ease;
}

.content-wrapper {
    flex: 1;
    transition: all 0.3s ease;
}

.content-wrapper.with-sidebar {
    margin-left: 250px; /* Khi sidebar mở */
}

.content-wrapper.full-width {
    margin-left: 0; /* Khi sidebar đóng */
}



/* Media queries cho kích thước màn hình nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
    .toggle-sidebar {
        display: block;
        margin-left: 240px;
        margin-top: 8px;
    }

    .sidebar-wrapper {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100vh;
        z-index: 999;
        background: white;
    }

    .sidebar-wrapper.open {
        left: 0; /* Sidebar hiển thị */
    }

    .content-wrapper {
        margin-left: 0 !important;
        width: 100%;
    }
}

/* Media queries cho kích thước màn hình lớn hơn 768px */
@media (min-width: 769px) {
    .toggle-sidebar {
        display: none; /* Ẩn nút toggle trên màn hình từ 769px trở lên */
    }

    .sidebar-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 999;
        background: white;
    }

    .sidebar-wrapper.open {
        left: 0; /* Sidebar hiển thị */
    }

    .content-wrapper {
        margin-left: 0 !important;
        width: 100%;
    }

    .content-wrapper.with-sidebar {
        margin-left: 250px; /* Khi sidebar mở */
    }

    .content-wrapper.full-width {
        margin-left: 0; /* Khi sidebar đóng */
    }
}
